---
import Layout from '~/layouts/PageLayout.astro';

export async function getStaticPaths() {
  return [
    { params: { post: 'example-post-id' } },
    // add one entry per dynamic route you want to build
  ];
}

const { post } = Astro.params;

const metadata = {
  title: `Blog post ${post}`,
};
---

<Layout metadata={metadata}>
  <p>Post id: {post}</p>
</Layout>