---
import Layout from '~/layouts/PageLayout.astro';
import PostForm from '~/components/admin/PostForm.astro';

const metadata = {
  title: 'Edit Blog Post',
};
---

<Layout metadata={metadata}>
  <section class="mx-auto max-w-3xl">
    <a href="/admin">Back to Admin</a>
  </section>

  <PostForm
    title="Edit Blog Post"
    editMode={true}
    textarea={{
      name: 'Body Markdown',
      label: 'Body Markdown',
    }}
    inputs={[
      {
        type: 'text',
        name: 'Title',
        label: 'Title',
      },
      {
        type: 'text',
        name: 'Slug',
        label: 'Slug',
      },
      {
        type: 'text',
        name: 'Category',
        label: 'Category',
      },
      {
        type: 'text',
        name: 'Tags',
        label: 'Tags (comma separated)',
      },
      {
        type: 'text',
        name: 'Cover Image URL',
        label: 'Cover Image URL',
      },
      {
        type: 'checkbox',
        name: 'Published',
        label: 'Published',
      },
      {
        type: 'text',
        name: 'Excerpt',
        label: 'Excerpt',
      },
    ]}
  />
</Layout>
